.DashboardChamppool-Container {
  padding: 20px;

}

.DashboardChamppool {
    background-color: #303030;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.438);
    padding: 20px;
    border-radius: 10px;
    height: 675px;
    overflow: auto;
}




.DashboardChamppool-Table {
  margin: 35px;
}
