#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 20em;
  padding: 0;
  filter: drop-shadow(0 0 2em #61dafbaa) 

}

.SearchBar {
  width: 400px;
  height: 50px;
  
}

.SearchBar::placeholder {
  color: #646cff57;


}

.SearchButton {
  width :100px;
  color: #61dafbaa
  
}

.SearchBarLabel {
  text-decoration-thickness: 10px;
  color: #61dafbaa
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text{
  visibility: visible;
  opacity: 1;
}

.Icon {
  width: 30px;
  height: 30px;
  text-align: right;
}

.tableInfo {
  border: 1px solid rgb(107, 107, 107);
  text-align: left;
  border-collapse:separate;
}

.table {
  border: 2px solid rgb(107, 107, 107);
  color: white;
  width: 750px;
  
}

.MatchSwitchContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.MatchSwitch {
    flex: 1 0 300px;
    background-color: #303030;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.438);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.MatchSwitch:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}

.RankIcon {
  display: inline;
  text-align: right;
  scale: 5;
  width: 25px;
  height: auto;
  padding-left: 3px;

}