#root {
  padding: 0;
  text-align: center;
}



.Icon {
  width: 30px;
  height: 30px;
  text-align: right;
}

.RankIcon {
  display: inline;
  text-align: right;
  scale: 5;
  width: 25px;
  height: auto;
  padding-left: 3px;

}

.MasteryIcon {
  display: inline;
  text-align: right;
  scale: 1.5;
  width: 25px;
  height: auto;
  padding-left: 3px;
}

.RoleIcon {
  display: inline;
  text-align: right;
  scale: 1.5;
  width: 25px;
  height: auto;
  padding-left: 3px;
}























