

.detailsChamppool-TableHead {
  position: sticky;
  top: 27px;
  background-color: rgb(44, 44, 44);
  border:none;
  border-collapse: collapse;
  padding: 20px;
  width: auto;
  z-index: 1;
  margin: 50px;
}

.detailChamppool-Summonername {
  position: sticky;
  top: 0;
  font-weight: bolder;
  font-size: large;
  background-color: rgb(44, 44, 44);
  z-index: 1;
  caption-side: top;
  margin-bottom: 0;
  padding: 0;

  color: white;

  text-align: center;

}

.detailsChamppool-Table {
    text-align: center;
    border-collapse: collapse;
    border: none;
    table-layout: auto;
    align-items: center;
    flex-direction: column;

}

.detailsChamppool-Container {
  margin: 30px;
  display: flex;
  background-color: #303030;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.438);
  padding: 20px;
  border-radius: 10px;
  height: 50vh;
  width: 60vw;
  overflow:auto;
  flex-direction: column;
  text-align: center;
}

.Parent-DetailsChamppool {
  top: 0;
}